[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace.lints.rust]
unused_qualifications = "warn"

[workspace.lints.clippy]
all = "warn"
nursery = "warn"
